.block-product-information{
	margin-top: 60px;
	margin-bottom: 95px;
	.mini-image{
		padding: 0;
		margin-right: -15px;
		margin-left: -15px;
		a{
			display: block;
		}
		li{
			margin-bottom: 10px;
		}
	}
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
 -webkit-appearance: none; 
 margin: 0; 
}

.entry-summary{
	text-align: left;
	h2{
		color: #3d3d3d;
		font-size: 30px;
		font-weight: 400;
		margin-top: -5px;
		line-height: 47px;
	}
	a{
		color: #949494;
		font-size: 14px;
		font-weight: 400;
		line-height: 32px;
		display: block;
		&:hover{
			color: @active-color-red;
		}
	}
	p{
		color: grey;
		font-size: 14px;
		font-weight: 300;
		line-height: 24px;
		margin-top: 23px;
	}
	.star-line{
		margin-top: 13px;
		display: inline-block;
		margin-right: 7px;
		li{
			display: inline-block;
			color: #313131;
			font-size: 13px;
		}
	}
}
.old-price{
	color: #9c9c9c;
	font-size: 25px;
	font-weight: 400;
	line-height: 60px;
	text-decoration: line-through;
}
.new-price{
	color: #262626;
	font-size: 36px;
	font-weight: 700;
	line-height: 70px;
}
.size{
	margin-bottom: 12px;
	span{
		color: #313131;
		font-size: 14px;
		font-weight: 600;
		line-height: 30px;
	}
	.size-line{
		color: #4d4d4d;
		font-size: 12px;
		font-weight: 500;
		line-height: 24px;
	}
	li{
		border: 2px solid #d9d9d9;
		display: inline-block;
		padding: 5px 10px;
		margin-right: 12px;
		transition: all 0.2s linear;
		&:hover{
			border: 2px solid #262626;
		}
	}
}
.color{
	margin-bottom: 15px;
	.color-selection{
		color: #4d4d4d;
		padding: 5px 125px 5px 15px;
		display: inline-block;
		font-size: 12px;
		font-weight: 500;
		line-height: 24px;
		border: 1px solid #d9d9d9;
	}	
	span{
		color: #313131;
		display: block;
		font-size: 14px;
		font-weight: 600;
		line-height: 30px;
	}
}
.quantity{
	.ui-spinner-up {
	    position: absolute;
	    right: 10px;
	    display: block;
	}
	.ui-spinner-down {
	    position: absolute;
	    left: 10px;
	}
	
	.ui-spinner a.ui-spinner-button{
		border: none;
		top: 10%;
		height: 35px;
		color: #4d4d4d;
		font-weight: 100;
	}
	.ui-spinner .ui-icon{
		top: 70%;
	}
	.ui-spinner-up:before {
	    content: '+';
	    border-left: 1px solid @border-color;
	    font-size: 28px;
	    font-weight: 100;
	    color: #4d4d4d;
	}
	.ui-spinner-down:before {
	    content: '-';
	    border-right: 1px solid @border-color;
	    color: #4d4d4d;
	    padding-right: 5px;
	    font-size: 28px;
	    font-weight: 100;
	}

	margin-bottom: 25px;
	span{
		display: block;
		color: #313131;
		font-size: 14px;
		width: 118px;
		border: none;
		font-weight: 600;
		line-height: 28px;
	}
	input{
		text-align: center;
		height: 37px;
		width: 114px;
		border: 1px solid @border-color;
		color: #4d4d4d;
		font-size: 12px;
		font-weight: 500;
		line-height: 24px;
	}
}

.add-to-cart{
	font-size: 13px;
	font-weight: 400;
	line-height: 48px;
	color: #262626;
	letter-spacing: 1.5px;
	span{
		font-size: 11px;
		font-weight: 700;
		line-height: 36px;
		text-transform: uppercase;
	}
	.buttons_added{
		border: none;
		box-shadow: none;
		margin-right: 20px;
		letter-spacing: normal;
		background-color: #262626;
		color: white;
		transition: all 0.2s linear;
		font-size: 11px;
		font-weight: 700;
		padding: 4px 64px;
		line-height: 36px;
		text-transform: uppercase;
		&:hover{
			background-color: @active-color-red;	
		}
	}
}
.tags{
	margin-bottom: 20px;
	margin-top: 26px;
	span{
		font-size: 13px;
		color: #262626;
		font-weight: 600;
		text-transform: uppercase;
	}
	ul {
		display: inline-block;
		li{
			display: inline-block;
			color: grey;
			font-size: 13px;
		}
	}
}
.storefront-product-sharing{
	border-bottom: 1px solid @border-color;
	border-top: 1px solid @border-color;
	line-height: 55px;
	ul{
		display: inline-block;
		li{
			display: inline-block;
			a{
				padding-left: 10px;
				&:hover{
					color: @active-color-red;
				}
			}
		}
	}
	span{
		font-size: 14px;
		font-weight: 300;
		color: grey;		
	}
	.icons-social-networks{
		text-align: right;
		float: right;
	}
	i{
		font-family: FontAwesome;
		font-size: 15px;
		font-weight: 400;
	}
}